.game-header {
    display: flex;
}

.game-buttons {
    margin: 0 auto;
}

.game-button {
    width: 100px;
    text-align: center;
    font-weight: bold;
    background-color: white;
    margin: 10px;
    cursor: pointer;
}

.game-container {
    margin: 8vh auto 0 auto;
    display: flex;
}
